body {
  font: 16px/1.5 "lucida grande", arial, helvetica, sans-serif;
  color: #444444; }

a {
  color: #888888; }
  a:hover {
    color: #222222; }

#wrapper {
  width: 960px;
  margin: 0 auto; }

#branding {
  width: 930px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px; }
  #branding .site-name {
    font-size: 2em; }

#left {
  width: 210px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  background: #eeeeee; }

#main {
  width: 690px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  background: #eeeeee; }

#footer {
  width: 930px;
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
